.relative {
  background: url('mysource_files/image.jpg');
}

.absolute {
  background: url('https://www.squiz.net/__template/45/logo.svg');
}

.embeded {
  background: url('data:image/png;base64,asdf');
}
